{% extends 'layout.html' %}

{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            <form method="post">
                {%  csrf_token %}
                <div class="mb-3">
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    {{ form.password }}
                </div>
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}

